html, body {
  height: 100%;
  margin: 0px;
  background-color: #f9f9f9;
}

#app {
  height: 100100%;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 100%;
}

.login-container input {
  width: 70%;
  margin-right: 2%;
  font-size: 2em;
}

.login-container button {
  width: 20%;
  height: 100%;
  font-size: 2em;
  background-color: #0059b2;
  color: #FFFFFF;
  border: 0;
  border-radius: 5%;
}

.conversation-container {
}

.conversation-container form {
  background: #000000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
 
.conversation-container form input {
  border: 0;
  padding: 10px;
  width: 88%;
  margin-right: .5%;
}

.conversation-container form button {
  width: 9%;
  background: #82E0FF;
  border: none;
  padding: 10px;
}

.conversation-container .conversation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.conversation-container .conversation li {
  padding: 5px 10px;
}

.conversation-container .conversation li:nth-child(odd) {
  background: #eee;
}

.conversation-container .conversation { margin-bottom: 40px }
